body {
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;   
}

.container-wrapper {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-search {
  margin-top: 30px;
}

.search-form {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.options {
  display: flex;  
  flex-direction: row;
  justify-content: space-around;
}

.container-messages {
  height: auto;
  width: 70%;
  font-family: sans-serif;
}

.form-control {
  width: 350px;
  height: 45px
}

.form-control:focus {
  border-color: #337ab7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #337ab7; 
}

.btn-primary {
  height: 45px;
}

.container-card {
  margin: auto 0;
  padding: 10px;
}

li {
  list-style: none;
  margin-top: 20px;
  border-radius: 25px;
  background-color: white;
  border: 1px solid white;
}

li:hover {  
  border: 3px solid #337ab7
}

.button-read {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;  
}