body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

.title {
  text-align: center;   
}

.container-wrapper {
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-card {
  border: 1px solid grey;
  margin-top: 20px;
}

li {
  list-style: none;
}
